<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portland vs...</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ultra|Slabo+13px' %>
    <%= csrf_meta_tags %>
  </head>
<body>

<div class="container">
  <h1><%= image_tag 'bird.png', class: "pull-left", width: "70px"%> Portland vs 
    <% if @city == nil %>
      ...
    <% elsif @city2 == nil %>
      <%= @city.titleize %>
    <% else %>
      <%= @city.titleize %> vs <%= @city2.titleize %>
    <% end %>
  </h1>
  <p>Proving Portland's weather isn't always rainy and drab. Try a comparison. Or 2!</p><br clear="all"/>
  <%= yield %>
</div>

</body>
</html>
